In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

#import the API key
from config import g_key

In [2]:
# store csv created in weatherpy in a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2021-10-17 18:54:46,22.0752,-159.3190,77.18,85,100,3.00
1,1,Port Blair,IN,2021-10-17 18:57:06,11.6667,92.7500,79.95,87,99,6.29
2,2,Bogalusa,US,2021-10-17 18:57:06,30.7910,-89.8487,75.74,33,1,6.91
3,3,Hermanus,ZA,2021-10-17 18:57:07,-34.4187,19.2345,55.90,66,45,5.68
4,4,Faya,SA,2021-10-17 18:49:01,18.3851,42.4509,69.91,24,2,6.98

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# get the maximum temperature
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
    #temps.append(max(temp,0))

In [6]:
# heatmap of temperature
# get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# get maximum temperature
max_temp = city_data_df["Max Temp"]
# assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity = 300, point_radius=4)
# add the heatmap layer
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# heatmap of percent humidity
# heatmap of humidity
# get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# get humidity
humidity = city_data_df["Humidity"]
# assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity = 300, point_radius=4)
# add the heatmap layer
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# heatmap of cloudiness
# get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# get cloudiness
cloudiness = city_data_df["Cloudiness"]
# assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity = 300, point_radius=4)
# add the heatmap layer
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# heatmap of Wind Speed
# get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# get humidity
wind = city_data_df["Wind Speed"]
# assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity = 300, point_radius=4)
# add the heatmap layer
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 1
What is the maximum temperature you would like for your trip? 30

In [11]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
22,22,Longyearbyen,SJ,2021-10-17 18:57:19,78.2186,15.6401,17.44,62,20,3.44
34,34,Barrow,US,2021-10-17 18:55:16,71.2906,-156.7887,21.22,79,90,5.75
37,37,Vostok,RU,2021-10-17 18:57:25,46.4856,135.8833,15.75,74,9,5.32
39,39,Okhotsk,RU,2021-10-17 18:57:26,59.3833,143.3000,12.70,73,4,18.97
49,49,College,US,2021-10-17 18:47:45,64.8569,-147.8028,27.90,81,75,3.44
55,55,Clyde River,CA,2021-10-17 18:52:48,70.4692,-68.5914,28.56,78,90,12.37
63,63,Yerbogachen,RU,2021-10-17 18:55:37,61.2767,108.0108,26.71,86,100,9.37
72,72,Pevek,RU,2021-10-17 18:57:39,69.7008,170.3133,8.47,97,58,2.98
76,76,Tahe,CN,2021-10-17 18:57:42,52.3333,124.7333,16.34,78,25,2.95
78,78,Aldan,RU,2021-10-17 18:57:42,58.6031,125.3894,10.67,96,100,2.95

In [12]:
# create a dataframe for hotels
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
22  Longyearbyen      SJ     17.44  78.2186   15.6401
34        Barrow      US     21.22  71.2906 -156.7887
37        Vostok      RU     15.75  46.4856  135.8833
39       Okhotsk      RU     12.70  59.3833  143.3000
49       College      US     27.90  64.8569 -147.8028
55   Clyde River      CA     28.56  70.4692  -68.5914
63   Yerbogachen      RU     26.71  61.2767  108.0108
72         Pevek      RU      8.47  69.7008  170.3133
76          Tahe      CN     16.34  52.3333  124.7333
78         Aldan      RU     10.67  58.6031  125.3894

In [13]:
# set parameters to search for a hotel
params = {
    "radius" : 5000,
    "type" : "lodging",
    "key" : g_key
}

# iterate through the dataframe
for index, row in hotel_df.iterrows():
    # get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    # add the latitude and longitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"
    
    # use the search term lodging and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # make request and get the json data
    hotels = requests.get(base_url, params=params).json()
    # grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]['name']
    except (IndexError):
        print("Hotel not found. . . skipping.")

Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.
Hotel not found. . . skipping.

In [14]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
22,Longyearbyen,SJ,17.44,78.2186,15.6401,"Radisson Blu Polar Hotel, Spitsbergen"
34,Barrow,US,21.22,71.2906,-156.7887,King Eider Inn
37,Vostok,RU,15.75,46.4856,135.8833,
39,Okhotsk,RU,12.70,59.3833,143.3000,
49,College,US,27.90,64.8569,-147.8028,Pike's Waterfront Lodge
55,Clyde River,CA,28.56,70.4692,-68.5914,Qamaq Hotel
63,Yerbogachen,RU,26.71,61.2767,108.0108,
72,Pevek,RU,8.47,69.7008,170.3133,Severnoye Zoloto
76,Tahe,CN,16.34,52.3333,124.7333,塔河宾馆
78,Aldan,RU,10.67,58.6031,125.3894,Aldan Guest House

In [15]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# store the dataframe row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [16]:
# add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))